@import "tailwindcss";

/* Extends TailwindCSS Theme */
@theme {
  --font-ibm-serif: "IBM Plex Serif", serif;
  --font-inter: "Inter", sans-serif;
}

/* Set base styles on TailwindCSS */
@layer base {
  html {
    @apply font-inter;
  }

  p {
    font-size: var(--text-base);
    color: var(--color-black);
  }

  h1 {
    font-size: var(--text-6xl);
    font-weight: var(--font-weight-semibold);
    color: var(--color-black);
    letter-spacing: var(--tracking-widest);
  }

  h2 {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-semibold);
    color: var(--color-black);
  }
}

@plugin "daisyui" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: "peerpreplight";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: #e5e5e5;
  --color-base-300: #737373;
  --color-base-content: #000000;
  --color-primary: #172554;
  --color-primary-content: #ffffff;
  --color-secondary: #4d7c0f;
  --color-secondary-content: #ffffff;
  --color-accent: oklch(55% 0.288 302.321);
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: oklch(37% 0.013 285.805);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: #eab308;
  --color-warning-content: #ffffff;
  --color-error: #f87171;
  --color-error-content: #ffffff;

  /* border radius */
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;

  /* base size value (padding, spacing, or thickness) */
  --size-selector: 0.3rem;
  --size-field: 0.3rem;

  --border: 1px;

  /* effects */
  --depth: 0;
  --noise: 1;
}

/* Custom CSS Classes */
.peerprep-logo {
  @apply font-ibm-serif text-[clamp(2rem,3.2vw,4rem)] tracking-widest bg-gradient-to-r from-secondary to-primary text-transparent bg-clip-text m-0;
}
