@import "tailwindcss";

@plugin "daisyui" {
    themes: false;
}

@plugin "daisyui/theme" {
    name: "peerpreplight";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0 0);
    --color-base-200: oklch(96% 0.001 286.375);
    --color-base-300: oklch(92% 0.004 286.32);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: #172554;
    --color-primary-content: oklch(97% 0.013 17.38);
    --color-secondary: #4D7C0F;
    --color-secondary-content: oklch(96% 0.018 272.314);
    --color-accent: oklch(55% 0.288 302.321);
    --color-accent-content: oklch(98% 0.018 155.826);
    --color-neutral: oklch(37% 0.013 285.805);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(78% 0.154 211.53);
    --color-info-content: oklch(30% 0.056 229.695);
    --color-success: oklch(79% 0.209 151.711);
    --color-success-content: oklch(27% 0.046 192.524);
    --color-warning: #EAB308;
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: #F87171;
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 0rem;
    --radius-field: 0.25rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 0;
    --noise: 1;
}

/* Custom CSS Classes */
.normal-text {
    @apply text-lg lg:text-xl
}

.peerprep-logo {
    @apply text-7xl lg:text-8xl font-bold font-mono bg-gradient-to-r from-primary to-secondary text-transparent bg-clip-text
}